{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/login/login.css">
{% endblock %}

{% block body %}
    <div class="login_Menu">
        <h1>Connexion</h1>
        <div class="login_fields">
            <form method="post" class="login_form">
                {% if error %}
                    <div class="alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="alert-success">
                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <h2 class="header">Connectez-vous</h2>
                <div class="login_field">
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="login_email-field" autocomplete="email" required autofocus>
                </div>
                <div class="login_field">
                    <label for="inputPassword">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="login_password-field" autocomplete="current-password" required>
                </div>

                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >

                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}

                <button class="login_submit" type="submit">
                    Se connecter
                </button>
                <a class="nav-link" href="{{path('app_register')}}">S'inscrire</a>
            </form>
        </div>
    </div>

    {% block javascripts %}
        <script src="/scripts/dropDownNavbar.js"></script>
    {% endblock %}

{% endblock %}
